</html><!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="welcome-container">

        <h1>📝 Welcome toTODO Application</h1>

        <p>
            Organize your daily tasks efficiently and stay productive.
        </p>

        <a href="/todo" class="start-btn">
            Get Started
        </a>

    </div>

</body>

</html>